.folder{
    border: 4px grey solid;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 40%;
    height: 40%;
}   

.list{
    line-height: 40%;
}
table
{
  width:100%;
  margin-bottom: 30px;
}
.submit{
    display: inline;
    margin-left: 4%;
}
